* {
    box-sizing: border-box;
  }
  h1 {
    margin-bottom: 15px;
  }
  
  pp {
    border: 1px solid green;
    background-color: silver;
    font-family: Helvetica;
    color: black;
  }


  .kast {
    border: 1px solid black;
    position: relative;
  }

  #some {
    border: 1px solid black;
    position: absolute;
    height: 50px;
    top: 0px;
    right: 0px;

  }

  .text {
    background-color: burlywood;
    margin-top: 60px;
  }

  /* Simple Responsive Framework. */
.row {
    width: 100%;
    margin-left: -5px;
  }
  /******* label style **********/
  #chicken {
    border: 1px solid black;
    position: relative;
    top: 0px;
    right: 0px;
    height: 60px;
    background-color: pink;
  }


  /********** Large devices only **********/
  @media (min-width: 992px) {
    .col-1, .col-2, .col-3 {
      float: left;
      position: relative;
      border: 1px solid black;
      margin: 5px;
      padding: 0px;
    
    }
    .col-1 {
      width: 33%;
    }
    .col-2 {
      width: 33%;
    }
    .col-3 {
      width: 33%;
    }
  }
  
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-1, .col-2, .col-3 {
      float: left;
      border: 1px solid black;
      margin: 5px;
      padding: 0px;
    }
    .col-1 {
      width: 50%;
    }
    .col-2 {
      width: 50%;
    }
    .col-3 {
      width: 100%;
    }
  }

    /********** Small devices only **********/
    @media (max-width: 767px) {
      .col-1, .col-2, .col-3 {
        float: left;
        border: 1px solid black;
        margin: 5px;
        padding: 0px;
      }
      .col-1 {
        width: 100%;
      }
      .col-2 {
        width: 100%;
      }
      .col-3 {
        width: 100%;
      }
    }